<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
  <title>Book Search</title>
</head>

<body>
  <h2>Book Search & Recommender</h2>

<div class="top-bar">
  <a href="/profile" class="profile-btn">Profile</a>
</div>

<div>
<div class ="rec-search-box">
    {% if recommended %}
    <h3>Recommended For You</h3>
    <hr>

    <div class="recommended-container">
      {% for r in recommended %}
        <div class="rec-card">

          <b>{{ r.display.get('title', '') }}</b> ({{r.display.get('published_year')}})<br>
          By: {{ r.display.get('authors', '') }}<br>

          
          <div class = "button-row">
            <button type="button" class="view-btn" onclick="toggleDetails('rec-desc-{{ r.book_id }}')">View</button>

            <form method="POST" action="/bookmark">
            <input type="hidden" name="book_id" value="{{ r.book_id }}">
            <input type="hidden" name="title" value="{{ r.display.get('title', '') }}">
            <input type="hidden" name="authors" value="{{ r.display.get('authors', '') }}">
            <input type="hidden" name="categories" value="{{ r.display.get('categories', '') }}">
            <button type="submit">Bookmark</button>
          </form>


          </div>
          <div id="rec-desc-{{ r.book_id }}" class="details-content scrollable" style="display:none;">
          <p><b>ID: </b>{{ r.book_id }} </p>
          <p><b>Description:</b> {{ r.display.get('description', 'No description available') }}</p>
          <p><b>Genre:</b> {{ r.display.get('categories') }}</p>

          </div>
        </div>
      {% endfor %}
    </div>
    {% else %} 
    <p>No Recommendations yet</p>
    {% endif %}
  </div>
<div class = "middle-inputs">
    <form method="POST">

      <div class = "search-box">
        <label>Mood:</label>
        <input
          type="text"
          name="moods"
          value="{{ current_moods }}"
          placeholder="Relaxing, Fun, Learning..."
        >

        <label>Available Time:</label>
        <input
          type="text"
          name="time"
          value="{{ current_time }}"
          placeholder="Short, Mid, Long..."
        >
      </div>

      <div class = "search-box">
        <label>Search Books:</label>
          <input 
            type="text"
            name="query"
            value="{{ current_query }}"
            placeholder="Search books"
          >
        <button type="submit">Search</button>
      </div>
    </form>
</div>

<div class = "middle-inputs">
{% for r in results %}
  <div class="book-card">

    <b>{{ r.display.get('title', '') }}</b> ({{r.display.get('published_year')}})<br>
    By: {{ r.display.get('authors', '') }}<br>
    Pages: {{ r.display.get('num_pages', '') }}<br>

    Rating: {{ r.display.get('average_rating') }} / 5<br>

    <div class="button-row">

      <button type="button" class="view-btn" onclick="toggleDetails('search-desc-{{ r.book_id }}')">View</button>

      
      <form method="POST" action="/bookmark">
        <input type="hidden" name="book_id" value="{{ r.book_id }}">
        <input type="hidden" name="title" value="{{ r.display.get('title', '') }}">
        <input type="hidden" name="authors" value="{{ r.display.get('authors', '') }}">
        <input type="hidden" name="categories" value="{{ r.display.get('categories', '') }}">
        
        <button type="submit">Bookmark</button>
        
      </form>
    </div>

    <div id="search-desc-{{ r.book_id }}" class="details-content" style="display:none;">
    <p><b>ID: </b>{{ r.book_id }} </p>
    <p><b>Description:</b> {{ r.display.get('description', 'No description available') }}</p>
    {% if r.display.get('categories') %}<p><b>Genres:</b> {{ r.display.get('categories') }}</p>{% endif %}

    <p><b>Ranking Score:</b> {{ "%.3f"|format(r.score) }}</p>
    {% if r.why_matched %}
      <p><b>Why Matched:</b> {{ r.why_matched }}</p>
    {% endif %} 
    </div>

  </div>
{% endfor %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>